In [2]:
import numpy as np
arr = np.array([[1,2,3],[3,4,5]])
arr.ndim  ## Show how many dimension of an array
arr.shape 
arr.dtype
arr.size

6

In [8]:
barr = np.array([[1,2,3,4,5,6,7],[8,9,10,11,12,13,14]])
barr[0,0]
barr[0, ]

array([1, 2, 3, 4, 5, 6, 7])

In [10]:
barr[0, 1:6:2]  ## Row : startIndex : endIndex : gap

array([2, 4, 6])

In [11]:
Drr = np.array([[[1,2],[8,9]] , [[10,20],[28,29]]])
Drr[0:1:1]

array([[[1, 2],
        [8, 9]]])

In [13]:
np.linspace(1,3,4)
Drr.min()
Drr.max()
Drr.sum(axis=1)

array([[ 9, 11],
       [38, 49]])

In [14]:
# this will create 0 to 6 Element's
arrange = np.arange(6)
print(arrange)

[0 1 2 3 4 5]

In [15]:
oneDarray = np.array([1,2,3,4,5,6,7])
print(oneDarray)

[1 2 3 4 5 6 7]

In [16]:
twoDArray = np.array([[1,2,3,4,5]
                     ,[2,3,4,5,6]
                     ,[28,37,45,52,32]])


print(twoDArray)

# Exact Location of number
print(twoDArray[0][2])

[[ 1  2  3  4  5]
 [ 2  3  4  5  6]
 [28 37 45 52 32]]
3

In [17]:

# this will create 2 size of Array with zeros Value
print(np.zeros(2))

[0. 0.]

In [18]:
# this will create 2 size of Array with one Value
print(np.ones(2 , dtype=np.int64))

[1 1]

In [19]:

# this will create empty Array with two Value
print(np.empty(1))

[5.e-324]

In [20]:
# this will create range between first,last,step
print(np.arange(1,10,2))

[1 3 5 7 9]

In [21]:
# this will create array with intervals
print(np.linspace(0,10, num=5))

[ 0.   2.5  5.   7.5 10. ]

In [22]:
arr = np.array([2, 1, 5, 3, 7, 4, 6, 8])
# this wil return the new Array
arr = np.sort(arr)
print("Sort the Array the Data : ", arr)

Sort the Array the Data :  [1 2 3 4 5 6 7 8]

In [23]:
OneArr = np.array([1,2,3,4,56])
TwoArr = np.array([11,22,33,43,56])

print(np.concatenate((OneArr, TwoArr)))

[ 1  2  3  4 56 11 22 33 43 56]

In [24]:
x = np.array([ [1 , 2] , [3 , 4] ])
y = np.array([[5, 6]])

print(np.concatenate((x, y)))

[[1 2]
 [3 4]
 [5 6]]

In [25]:
array_of_2D = np.array([[[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0, 1, 2, 3],
                           [4, 5, 6, 7]],

                          [[0 ,1 ,2, 13],
                           [4, 5, 6, 7]]])

print(array_of_2D.ndim,
array_of_2D.size, array_of_2D.shape)

3 24 (3, 2, 4)

In [26]:
# Row -> then inner Row -> Column Number
print(array_of_2D[2][0][3])

13

In [27]:
# reShape the array
arra = np.arange(6)
reShape = arra.reshape(3,2)

print(reShape)


print(np.reshape(arra , newshape=(1, 6) , order='C'))

[[0 1]
 [2 3]
 [4 5]]
[[0 1 2 3 4 5]]

In [28]:
a = np.array([1, 2, 3, 4, 5, 6])
a.shape

a2 = a[np.newaxis, :]
a2.shape

(1, 6)

In [29]:
# Slice the data of an Array
data = np.array([1,2,3,4,5])

data[-2:]

array([4, 5])

In [30]:
# data manipulation in the array
arr = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
# this will check the condition at every value of array
print(arr[arr > 5])

[ 6  7  8  9 10 11 12]

In [31]:
# greater then 5 in 2D array
five_up = (arr >= 5)

print(five_up)

print("Greater then 5 : " ,arr[five_up])

[[False False False False]
 [ True  True  True  True]
 [ True  True  True  True]]
Greater then 5 :  [ 5  6  7  8  9 10 11 12]

In [32]:
# divisible by 2
divisible_bt_2 = arr[arr % 2 == 0]

print("Divisible by 2 : ",divisible_bt_2)

print("Between 2 and 11" , arr[(arr > 2) & (arr < 11)])

print("Equal then 5 and greater then 5 : ", arr[(arr > 5) | (arr == 5)])

Divisible by 2 :  [ 2  4  6  8 10 12]
Between 2 and 11 [ 3  4  5  6  7  8  9 10]
Equal then 5 and greater then 5 :  [ 5  6  7  8  9 10 11 12]

In [33]:

a = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
b = np.nonzero(a < 10)

print(b)
print(b[0])
print(b[1])

(array([0, 0, 0, 0, 1, 1, 1, 1, 2], dtype=int64), array([0, 1, 2, 3, 0, 1, 2, 3, 0], dtype=int64))
[0 0 0 0 1 1 1 1 2]
[0 1 2 3 0 1 2 3 0]

In [34]:

list_of_coordinates= list(zip(b[0], b[1]))

print(list_of_coordinates)

for coord in list_of_coordinates:
    print(coord)

[(0, 0), (0, 1), (0, 2), (0, 3), (1, 0), (1, 1), (1, 2), (1, 3), (2, 0)]
(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)

In [35]:
arrONE = np.array([[1, 1],
               [2, 2]])

arrTWO = np.array([[3, 3],
               [4, 4]])

# first is Vertical and Second is Horizontal Stack
print(np.vstack((arrONE, arrTWO)),
      np.hstack((arrONE, arrTWO)))

[[1 1]
 [2 2]
 [3 3]
 [4 4]] [[1 1 3 3]
 [2 2 4 4]]

In [36]:
copy_of_Arr = arrONE.copy()

print(copy_of_Arr)



# Arthematic Operation's

data = np.array([1, 2])
ones = np.ones(2, dtype=int)

print(data+ones)
print(data-ones)
print(data*ones)
print(data/ones)
print(data.sum())

[[1 1]
 [2 2]]
[2 3]
[0 1]
[1 2]
[1. 2.]
3

In [37]:
# axis 0 rows or axis 1 column addition's
b = np.array([[1, 1], [2, 2]])


print(b.sum(axis=0),
      b.sum(axis=1))
print(b.max())
print(b.min())
print(b.sum())

[3 3] [2 4]
2
1
6

In [38]:

# Working with Matrix and you can also Run min, max, sum

data = np.array([
    [1,2],
    [3,4],
    [5,6]])

# specifix Index Value 
data[0,1]
# Slice method
data[0:1]

# axis=0 mean Y-axis 
# axis=1 mean X-axis 

# you can add/Minus/Subtract/Multiply

print(data.max(axis=0))
print(data.max(axis=1))

[5 6]
[2 4 6]

In [39]:
# this will define 5 Matirx with 3 by 8 Shape
print(np.ones((2,3,8)))

# random number generature
rng = np.random.default_rng()
print(rng.random(3))


# Flatten the array
x = np.array([[1 , 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

print(x.flatten())

[[[1. 1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1. 1.]]

 [[1. 1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1. 1.]
  [1. 1. 1. 1. 1. 1. 1. 1.]]]
[0.72764277 0.18668261 0.1912615 ]
[ 1  2  3  4  5  6  7  8  9 10 11 12]